<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362215005959-g038k1e4s7h388auhil2offvo5q8vjnc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362215005959-g038k1e4s7h388auhil2offvo5q8vjnc</string>
	<key>API_KEY</key>
	<string>AIzaSyBrf-EAYFh6VZYFy-IP6_Y0h37wTSlYhjs</string>
	<key>GCM_SENDER_ID</key>
	<string>362215005959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aqua.testaqua</string>
	<key>PROJECT_ID</key>
	<string>aqya-1093c</string>
	<key>STORAGE_BUCKET</key>
	<string>aqya-1093c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362215005959:ios:61e32c10ad2b5dda74efa2</string>
	<key>DATABASE_URL</key>
	<string>https://aqya-1093c-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>